/* AT */
table {
  border-spacing: 0;
  border-color: #eee;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  font-size: 1em; 
}
table,
tr,
td,
thead,
tbody {
  border: none;
}
table,
td,
th {
  vertical-align:middle;
}
caption,
th,
td {
  text-align:left;
}
thead th {
  border-width:0 0 1px;
  border-bottom-style: solid;
  border-bottom-color:#eee;
  color:#494949;
  font-weight:700;
}
td,
th {
  border-bottom:none;
  margin:0;
  padding:.375em .5em;
}
tr.even,
tr.odd {
  border-bottom:none;
}
tr.odd td,
tr.info td{
  background-color:#f5f5f5;
}
tbody tr:nth-child(2n+1) td {
  background-color:#f5f5f5;
}
tr.even {
  background-color:#fff;
}
tr.drag {
  background-color:#fffff0;
}
tr.drag-previous {
  background-color:#ffd;
}
tr.odd td.active {
  background-color:#eee;
}
tr.even td.active {
  background-color:#f7f7f7;
}
td.region,
td.module,
td.container td.category {
  background-color:#eee;
  border-bottom:1px solid #ccc;
  border-top:1.5em solid #fff;
  color:#222;
  font-weight:700;
}
tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container {
  border-top-width:0;
}
table caption {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
/* Add back Drupal 7's missing forum icon http://drupal.org/node/1008580 */
#forum tr td.forum {
  background-image: url(images/forum-default.png);
  background-position: 5px 5px;
  background-repeat: no-repeat ;
  padding-left: 40px;
}
#forum .description {
  font-size: 0.92em;
  margin: 5px 0;
}
#forum div.indent {
  margin-left: .5em;
}
